body {
    background-image: url("../images/cutcube.png");
}

.container {
    background-color: lavenderblush;
    margin: auto;

}

.yourScore,.score,{
    width: 30%;
    margin: 10px 0 10px 0px;
}

.header {
    width: 40%;
    margin: auto;

}