.header {
    background-color: yellow;
}

.instructions {
background-color: pink;

}


.goalScore {
    background-color: teal;

}

.winlose {
    background-color: cyan;

}

.score {
    background-color: blue;

}

.yourTotalScore{

}

.yourScore{

}